# Using SDKs
## Exploratory Data Analysis

In [1]:
import logging

# Configure the root logger
logging.basicConfig(
    level=logging.ERROR,  # ðŸ‘ˆ this enables DEBUG level output
    format="%(asctime)s [%(levelname)s] %(name)s - %(message)s"
)

Import SDK and supporting libraries

In [2]:
from swcpy.swc_client import SWCClient
from swcpy.swc_config import SWCConfig
import pandas as pd

In [3]:
config = SWCConfig()
client = SWCClient(config)

SWC_API_BASE_URL in SWCConfig init: https://api.sportsworldcentral.com/

In [19]:
sdk_player_list = client.list_players()
player_df = pd.DataFrame([player.model_dump() for player in sdk_player_list])
display(player_df.shape)
display(player_df.head(3))
display(player_df.tail(3))

(100, 7)

,player_id,gsis_id,first_name,last_name,position,last_changed_date,performances
0,1001,00-0023459,Aaron,Rodgers,QB,2024-04-18,"[{'performance_id': 2501, 'player_id': 1001, '..."
1,1002,00-0023853,Matt,Prater,K,2024-04-18,"[{'performance_id': 2502, 'player_id': 1002, '..."
2,1003,00-0024243,Marcedes,Lewis,TE,2024-04-18,"[{'performance_id': 2503, 'player_id': 1003, '..."

,player_id,gsis_id,first_name,last_name,position,last_changed_date,performances
97,1098,00-0032398,Chris,Moore,WR,2024-04-18,"[{'performance_id': 2598, 'player_id': 1098, '..."
98,1099,00-0032434,Brandon,Allen,QB,2024-04-18,"[{'performance_id': 2599, 'player_id': 1099, '..."
99,1100,00-0032436,Jeff,Driskel,QB,2024-04-18,"[{'performance_id': 2600, 'player_id': 1100, '..."

In [20]:
player_df["performance_count"] = player_df["performances"].apply(len)
player_df["performance_count"].describe()

count    100.0
mean      17.0
std        0.0
min       17.0
25%       17.0
50%       17.0
75%       17.0
max       17.0
Name: performance_count, dtype: float64